<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profiles</ion-title>
    <ion-buttons slot="end" *ngIf="profile">
      <ion-button [routerLink]="['/', 'profiles', '0']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-searchbar [(ngModel)]="searchprofile" [showCancelButton]="shouldShowCancel" (ionChange)="getProfiles()">
    </ion-searchbar>
    <ion-select [(ngModel)]="filtersex" value="{{filtersex}}" interface="action-sheet" (ionChange)="getProfiles()"
      placeholder="Filter by sex">
      <ion-select-option value="">Female/Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
      <ion-select-option value="Male">Male</ion-select-option>
    </ion-select>
    <ion-item button *ngFor="let prof of profiles" [routerLink]="['/', 'profiles', prof.id]">
      <ion-label>
        <h2>{{ prof.firstname }}</h2>
        <p>{{ prof.lastname }}</p>
        <p>{{ prof.sex }}</p>
        <p>{{ prof.birthday | date:'MM-dd-yyyy'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label class="dark">
      <h2 class="center">- Age Summary -</h2>
      <h2 class="center">Lowest: {{this.summaryService.showSummary().lowestAge}} - Highest:
        {{this.summaryService.showSummary().highestAge}}</h2>
        <h2 class="center">Average: {{this.summaryService.showSummary().average | number:'1.2-2'}}</h2>
      </ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Dev: Armindo Malafaia</ion-title>
  </ion-toolbar>
</ion-footer>
